/* XXL Device :1200px. */
@media (min-width: 1400px) and (max-width: 1680px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }

    .header__wrap > a img {
        width: 280px;
    }
    
    a.btns.login {
        width: 80px;
        height: 44px;
        font-size: 18px;
        margin-left: 14px;
    }
    
    a.btns.register {
        width: 100px;
        height: 44px;
        font-size: 18px;
    }
    
    .header__nav ul {
        gap: 20px;
        margin-right: 25px;
    }
    
    .header__nav ul li a {
        font-size: 20px;
    }
    
    .header__wrap {
        padding: 20px 0;
    }
    
    .container__main {
        max-width: 1320px;
    }
    
    .hero__form {
        max-width: 400px;
        right: 0;
    }
    
    .search__register {
        margin-bottom: 22px;
    }
    
    .search__register a {
        padding: 14px;
        font-size: 22px;
    }
    
    .hero__form__details > span {
        margin-bottom: 18px;
        font-size: 22px;
    }
    
    select.form-select {
        margin-bottom: 18px;
    }
    
    .hero__form__details > a {
        width: 130px;
        height: 50px;
        font-size: 22px;
    }
    
    .hero__form__details {
        padding: 0px 40px 30px;
    }

    .member__slider {
        max-width: 1100px;
    }
    
    .member__title h2 {
        font-size: 38px;
    }
    
    .member__title {
        margin-bottom: 50px;
    }
    
    .member__card__content h6 {
        font-size: 20px;
    }
    
    .member__card__content p {
        font-size: 20px;
    }
    
    .member__card__content a {
        font-size: 22px;
    }
    
    .member__card__content a {
        font-size: 21px;
    }
    
    .member__slider button.owl-next, .member__slider button.owl-prev {
        width: 30px !important;
    }
    
    .member__all__btn {
        max-width: 350px !important;
        height: 68px;
        font-size: 25px;
        margin-top: 60px;
    }
    
    .register__title h2 {
        font-size: 38px;
    }
    
    .register__title {
        margin-bottom: 65px;
    }
    
    .register__gender a {
        padding: 10px 0 15px;
        font-size: 25px;
    }
    
    .register__table table tr th {
        font-size: 22px;
    }
    
    .register__table table tr td, .register__table table tr th {
        padding: 10px 35px;
    }
    
    .register__table {
        max-width: 1000px;
        margin-bottom: 80px;
    }
    
    .register__table table tr td {
        font-size: 18px;
    }
    
    .register__wrap {
        padding: 30px 0;
    }
    
    .register__wrap button {
        width: 220px;
        height: 68px;
    }
    
    .register__wrap h2 {
        font-size: 35px;
    }
    
    section#register__area {
        margin-bottom: 68px;
    }
    
    .find__title {
        margin-bottom: 78px;
    }

    .find__title h2 {
        font-size: 38px;
    }
    
    .find__card span {
    width: 44px;
    height: 47px;
    font-size: 30px;
    top: -19px;
    left: -12px;
}
    
    .find__card a {
        height: 55px;
        width: 150px;
        font-size: 24px;
    }
    
    .find__card__img {
        width: 70px;
        margin-bottom: 30px;
    }
    
    .find__card h5 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    
    .find__card p {
        font-size: 22px;
    }
    
    section#find__area {
        padding-bottom: 14px;
        margin-bottom: 16px;
    }
    
    section#proposal__area {
        padding: 50px;
    }
    
    .proposal__title h2 {
        font-size: 38px;
    }
    
    .gender a {
        font-size: 22px;
        width: 130px;
        height: 52px;
    }
    
    .gender {
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .identity span {
        font-size: 18px;
        height: 52px;
        margin-right: 28px;
    }
    
    .identity a {
        font-size: 18px;
        padding: 10px 10px;
    }
    
    .identity {
        margin-bottom: 20px;
    }
    
    .proposal__btn {
        margin-top: 50px;
        max-width: 400px;
        height: 68px;
        font-size: 24px;
    }
    
    section#popular__area {
        margin: 50px 0 60px;
    }
    
    .popular__title {
        margin-bottom: 60px;
    }
    
    .popular__card__title img {
        width: 35px;
    }
    
    .popular__card__title h4 {
        font-size: 30px;
    }
    
    .about__title h2 {
        font-size: 38px;
    }
    
    .about__title h2::after {
        bottom: -15px;
    }
    
    .about__title {
        margin-bottom: 40px;
    }
    
    .about__content p {
        font-size: 22px;
        margin-bottom: 12px;
    }
    
    .popular__card p {
        font-size: 22px;
    }
    
    .about__btns a {
        height: 62px;
        font-size: 24px;
    }
    
    .contact {
        width: 190px;
    }
    
    .about {
        width: 190px;
    }
    
    .about__btns {
        gap: 30px;
    }
    
    .footer__list p {
        font-size: 20px;
    }
    
    li.lists a {
        font-size: 20px;
    }
    
    section#footer__area {
        padding: 45px 0 30px;
    }
    
    .footer__social span {
        font-size: 16px;
    }

}


/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }

    .header__wrap > a img {
        width: 203px;
    }
    
    a.btns.login {
        width: 75px;
        height: 40px;
        font-size: 18px;
        margin-left: 8px;
    }
    
    a.btns.register {
        width: 90px;
        height: 40px;
        font-size: 18px;
    }
    
    .header__nav ul {
        gap: 20px;
        margin-right: 25px;
    }
    
    .header__nav ul li a {
        font-size: 18px;
    }
    
    .header__wrap {
        padding: 12px 0;
    }
    
    .hero__wrap {
        padding: 120px 0 212px;
    }
    
    .hero__wrap h1 {
        font-size: 40px;
        line-height: 55px;
        margin-left: -182px;
    }

    .hero__form {
        max-width: 400px;
        right: 0;
        bottom: -41px;
    }
    
    .search__register {
        margin-bottom: 15px;
    }
    
    .search__register a {
        padding: 12px;
        font-size: 20px;
    }
    
    .hero__form__details > span {
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    select.form-select {
        margin-bottom: 12px;
        font-size: 18px;
        height: 44px;
    }
    
    .hero__form__details > a {
        width: 108px;
        height: 46px;
        font-size: 20px;
        margin-top: 24px;
        border-radius: 6px;
    }
    
    .hero__form__details {
        padding: 0px 20px 24px;
    }
    
    .container__main {
        max-width: 1140px !important;
    }
    
    .member__slider {
        max-width: 1000px;
    }
    
    .member__title h2 {
        font-size: 36px;
        margin-left: 66px;
    }
    
    section#member__area {
        padding: 50px 0 70px;
    }

    .member__title {
        margin-bottom: 50px;
    }
    
    .member__card__content h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .member__card__content p {
        font-size: 18px;
    }
    
    .member__card__content a {
        font-size: 22px;
    }
    
    .member__card__content a {
    font-size: 20px;
}
    
.member__slider button.owl-prev {
    left: -39px;
}

.member__slider button.owl-next {
    right: -46px;
}

.member__card__content a > span {
    font-size: 16px;
}

.member__btn {
    font-size: 18px !important;
    width: 160px;
    height: 44px;
    margin-top: 20px;
}

    .member__slider button.owl-next, .member__slider button.owl-prev {
        width: 24px !important;
    }
    
    .member__all__btn {
        max-width: 290px !important;
        height: 58px;
        font-size: 20px;
        margin-top: 50px;
    }
    
    .register__title h2 {
        font-size: 36px;
    }
    
    .register__title {
        margin-bottom: 65px;
    }
    
    .register__gender a {
        padding: 8px 0 10px;
        font-size: 22px;
    }
    
    .register__table table tr th {
        font-size: 20px;
    }
    
    .register__table table tr td, .register__table table tr th {
        padding: 8px 33px;
    }
    
    .register__table {
        max-width: 900px;
        margin-bottom: 50px;
    }
    
    .register__table table tr td {
        font-size: 17px;
    }
    
    .register__wrap {
        padding: 18px 0;
    }
    
    .register__wrap button {
        width: 190px;
        height: 58px;
        font-size: 24px;
    }
    
    .register__wrap h2 {
        font-size: 32px;
    }
    
    section#register__area {
        margin: 35px 0 55px;
    }
    
    .find__title {
        margin-bottom: 78px;
    }

    .find__title h2 {
        font-size: 36px;
    }
    
    .find__card span {
    width: 38px;
    height: 40px;
    font-size: 22px;
    top: -16px;
    left: -14px;
}
    
    .find__card a {
        height: 48px;
        width: 140px;
        font-size: 20px;
    }
    
    .find__card__img {
        width: 60px;
        margin-bottom: 25px;
    }
    
    .find__card h5 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .find__card p {
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    section#find__area {
        padding-bottom: 14px;
        margin-bottom: 16px;
    }
    
    section#proposal__area {
        padding: 30px;
    }
    
    .proposal__title h2 {
        font-size: 36px;
    }
    
    .gender a {
        font-size: 20px;
        width: 105px;
        height: 48px;
    }
    
    .gender {
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .identity span {
        font-size: 16px;
        height: 48px;
        margin-right: 18px;
        padding: 20px;
    }
    
    .select a {
        font-size: 16px;
        padding: 9px 10px;
    }
    
    .identity {
        margin-bottom: 20px;
    }
    
    .proposal__btn {
        margin-top: 48px;
        max-width: 300px;
        height: 56px;
        font-size: 20px;
    }
    
    section#popular__area {
        margin: 40px 0 60px;
    }
    
    .popular__title {
        margin-bottom: 60px;
    }
    
    .popular__card {
        padding: 24px 28px;
        margin-bottom: 25px;
    }

    .popular__card__title img {
        width: 30px;
    }
    
    .popular__card__title h4 {
        font-size: 28px;
    }
    
    section#about__area {
        padding: 28px 0 55px;
    }

    .about__title h2 {
        font-size: 36px;
    }
    
    .about__title h2::after {
        bottom: -15px;
    }
    
    .about__title {
        margin-bottom: 40px;
    }
    
    .about__content p {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    .popular__title h2 {
        font-size: 36px;
    }

    .popular__card p {
        font-size: 22px;
    }
    
    .about__btns a {
        height: 54px;
        font-size: 20px;
    }
    
    .contact {
        width: 154px;
    }
    
    .about {
        width: 160px;
    }
    
    .about__btns {
        gap: 24px;
        margin-top: 40px;
    }
    
    .footer__list p {
        font-size: 18px;
    }
    
    li.lists a {
        font-size: 18px;
    }
    
    section#footer__area {
        padding: 45px 0 30px;
    }
    
    .footer__social span {
        font-size: 16px;
    }
}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 960px;
    }

    .header__bar {
        display: block;
      }

    .header__wrap > a img {
        width: 203px;
    }
    
    a.btns.login {
        width: 75px;
        height: 40px;
        font-size: 18px;
        margin-left: 8px;
    }
    
    a.btns.register {
        width: 90px;
        height: 40px;
        font-size: 18px;
    }
    
    .header__nav ul {
        display: none;
    }
    
    .header__nav ul li a {
        font-size: 18px;
    }
    
    .header__wrap {
        padding: 12px 0;
    }
    
    .hero__wrap {
        padding: 110px 0 110px;
    }
    
    .hero__wrap h1 {
        font-size: 36px;
        line-height: 52px;
        margin-left: -276px;
    }

    .hero__form {
        max-width: 325px;
        right: 0;
        bottom: -83px;
    }
    
    .search__register a:hover::after {
        width: 21px;
        height: 16px;
        bottom: -10px;
    }
    
    .male__female a {
        font-size: 18px;
        width: 135px;
        height: 40px;
    }
    
    .male__female {
        gap: 25px;
        margin-bottom: 15px;
    }

    .search__register {
        margin-bottom: 15px;
    }
    
    .search__register a {
        padding: 12px;
        font-size: 20px;
    }
    
    .hero__form__details > span {
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    select.form-select {
        margin-bottom: 12px;
        font-size: 18px;
        height: 44px;
    }
    
    .hero__form__details > a {
        width: 108px;
        height: 46px;
        font-size: 20px;
        margin-top: 24px;
        border-radius: 6px;
    }
    
    .hero__form__details {
        padding: 0px 20px 24px;
    }
    .container__main {
        max-width: 960px !important;
    }
    
    .member__slider {
        max-width: 840px;
    }
    
    .member__title h2 {
        font-size: 34px;
        margin-left: 13px;
    }
    
    section#member__area {
        padding: 50px 0 70px;
    }

    .member__title {
        margin-bottom: 50px;
    }
    
    .member__card__content h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .member__card__content p {
        font-size: 18px;
    }
    
    .member__card__content a {
        font-size: 22px;
    }
    
    .member__card__content a {
    font-size: 20px;
}
    
.member__slider button.owl-prev {
    left: -39px;
}

.member__slider button.owl-next {
    right: -46px;
}

.member__card__content a > span {
    font-size: 16px;
}

.member__btn {
    font-size: 18px !important;
    width: 100%;
    height: 44px;
    margin-top: 20px;
}

    .member__slider button.owl-next, .member__slider button.owl-prev {
        width: 24px !important;
    }
    
    .member__all__btn {
        max-width: 290px !important;
        height: 58px;
        font-size: 20px;
        margin-top: 42px;
    }
    
    .register__title h2 {
        font-size: 34px;
    }
    
    .register__title {
        margin-bottom: 50px;
    }
    
    .register__gender a {
        padding: 8px 0 10px;
        font-size: 22px;
    }
    
    .register__table table tr th {
        font-size: 20px;
    }
    
    .register__table table tr td, .register__table table tr th {
        padding: 8px 33px;
    }
    
    .register__table {
        max-width: 960px;
        margin-bottom: 50px;
    }
    
    .register__table table tr td {
        font-size: 17px;
    }
    
    .register__wrap {
        padding: 18px 0;
    }
    
    .register__wrap button {
        width: 150px;
        height: 52px;
        font-size: 22px;
    }
    
    .register__wrap h2 {
        font-size: 30px;
    }
    
    section#register__area {
        margin: 35px 0 55px;
    }
    
    .find__title {
        margin-bottom: 67px;
    }

    .find__title h2 {
        font-size: 34px;
    }
    
    .find__card span {
    width: 38px;
    height: 40px;
    font-size: 22px;
    top: -16px;
    left: -14px;
}
    
    .find__card a {
        height: 48px;
        width: 140px;
        font-size: 20px;
    }
    
    .find__card__img {
        width: 55px;
        margin-bottom: 25px;
    }
    
    .find__card h5 {
        font-size: 22px;
        margin-bottom: 11px;
    }
    
    .find__card p {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 25px;
    }
    
    section#find__area {
        padding-bottom: 14px;
        margin-bottom: 16px;
    }
    
    section#proposal__area {
        padding: 18px 0px;
    }
    
    .proposal__title h2 {
        font-size: 32px;
    }
    
    .gender a {
        font-size: 20px;
        width: 105px;
        height: 48px;
    }
    
    .gender {
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .identity span {
        font-size: 16px;
        height: 48px;
        margin-right: 18px;
        padding: 20px;
    }
    
    .select a {
        font-size: 16px;
        padding: 9px 10px;
    }
    
    .identity {
        margin-bottom: 20px;
    }
    
    .select {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .proposal__btn {
        margin-top: 48px;
        max-width: 300px;
        height: 56px;
        font-size: 20px;
    }
    
    section#popular__area {
        margin: 40px 0 60px;
    }
    
    .popular__title {
        margin-bottom: 60px;
    }
    
    .popular__card {
        padding: 24px 28px;
        margin-bottom: 25px;
    }

    .popular__card__title img {
        width: 26px;
    }
    
    .popular__card__title h4 {
        font-size: 26px;
    }
    
    section#about__area {
        padding: 28px 0 55px;
    }

    .about__title h2 {
        font-size: 34px;
    }
    
    .about__title h2::after {
        bottom: -15px;
    }
    
    .about__title {
        margin-bottom: 40px;
    }
    
    .about__content p {
        font-size: 18px;
        margin-bottom: 12px;
    }
    
    .popular__title h2 {
        font-size: 34px;
    }

    .popular__card p {
        font-size: 18px;
    }
    
    .about__btns a {
        height: 54px;
        font-size: 20px;
    }
    
    .contact {
        width: 154px;
    }
    
    .about {
        width: 160px;
    }
    
    .about__btns {
        gap: 24px;
        margin-top: 32px;
    }
    
    .footer__list p {
        font-size: 16px;
        line-height: 24px;
    }
    
    li.lists a {
        font-size: 16px;
        line-height: 28px;
    }
    
    section#footer__area {
        padding: 45px 0 30px;
    }
    
    .footer__social span {
        font-size: 16px;
    }

    .footer__social h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .footer__list h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .social__link a {
        width: 44px;
        height: 44px;
        font-size: 22px;
    }
    
    .social__link {
        gap: 10px;
        margin-bottom: 20px;
    }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 720px;
    }
    
    .header__bar {
        display: block;
      }

    .header__wrap > a img {
        width: 203px;
    }
    
    a.btns.login {
        width: 75px;
        height: 40px;
        font-size: 18px;
        margin-left: 8px;
    }
    
    a.btns.register {
        width: 90px;
        height: 40px;
        font-size: 18px;
    }
    
    .header__nav ul {
        display: none;
    }
    
    .header__nav ul li a {
        font-size: 18px;
    }
    
    .header__wrap {
        padding: 12px 0;
    }
    
    .hero__wrap {
        padding: 62px 0 26px;
    }
    
    .hero__wrap h1 {
        font-size: 34px;
        line-height: 50px;
    }

    .hero__wrap h1 {
        font-size: 36px;
        line-height: 52px;
    }

    .hero__form {
        max-width: 600px;
        position: unset;
        margin: 0 auto 0px;
    }
    
    .search__register a:hover::after {
        width: 21px;
        height: 16px;
        bottom: -10px;
    }
    
    .male__female a {
        font-size: 18px;
        width: 135px;
        height: 40px;
    }
    
    .male__female {
        gap: 25px;
        margin-bottom: 10px;
    }

    .search__register {
        margin-bottom: 15px;
    }
    
    .search__register a {
        padding: 10px;
        font-size: 20px;
    }
    
    .hero__form__details > span {
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    select.form-select {
        margin-bottom: 12px;
        font-size: 18px;
        height: 40px;
    }
    
    .hero__form__details > a {
        width: 108px;
        height: 44px;
        font-size: 20px;
        margin-top: 24px;
        border-radius: 6px;
    }
    
    .hero__form__details {
        padding: 0px 20px 24px;
    }
    
    .container__main {
        max-width: 100% !important;
    }
    
    .member__slider {
        max-width: 650px;
    }
    
    .member__title h2 {
        font-size: 32px;
        margin-left: 13px;
    }
    
    section#member__area {
        padding: 50px 0 30px;
    }

    .member__title {
        margin-bottom: 40px;
    }
    
    .member__card__content h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .member__card__content p {
        font-size: 18px;
    }
    
    .member__card__content a {
        font-size: 22px;
    }
    
    .member__card__content a {
    font-size: 18px;
}
    
.member__slider button.owl-prev {
    left: -24px;
}

.member__slider button.owl-next {
    right: -38px;
}

.member__card__content a > span {
    font-size: 16px;
}

.member__btn {
    font-size: 18px !important;
    width: 100%;
    height: 44px;
    margin-top: 20px;
}

    .member__slider button.owl-next, .member__slider button.owl-prev {
        width: 20px !important;
    }
    
    .member__all__btn {
        max-width: 240px !important;
        height: 48px;
        font-size: 16px;
        margin-top: 42px;
    }
    
    .register__title h2 {
        font-size: 32px;
    }
    
    .register__title {
        margin-bottom: 50px;
    }
    
    .register__gender a {
        padding: 6px 0 7px;
        font-size: 20px;
    }
    
    .register__table table tr th {
        font-size: 18px;
    }
    
    .register__gender a:hover::after {
        width: 21px;
        height: 16px;
        bottom: -13px;
    }

    .register__table table tr td, .register__table table tr th {
        padding: 5px 21px;
    }
    
    .register__table {
        max-width: 960px;
        margin-bottom: 50px;
    }
    
    .register__table table tr td {
        font-size: 16px;
    }
    
    .register__wrap {
        padding: 18px 0;
    }
    
    .register__wrap button {
        width: 130px;
        height: 48px;
        font-size: 21px;
    }
    
    .register__wrap h2 {
        font-size: 28px;
    }
    
    section#register__area {
        margin: 25px 0 55px;
    }
    
    .find__title {
        margin-bottom: 67px;
    }

    .find__title h2 {
        font-size: 32px;
    }
    
    .find__card span {
    width: 38px;
    height: 40px;
    font-size: 22px;
    top: -16px;
    left: -14px;
}
    
    .find__card a {
        height: 48px;
        width: 140px;
        font-size: 20px;
    }
    
    .find__card__img {
        width: 55px;
        margin-bottom: 25px;
    }
    
    .find__card h5 {
        font-size: 22px;
        margin-bottom: 11px;
    }
    
    .find__card p {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 25px;
    }
    
    section#find__area {
        padding-bottom: 14px;
        margin-bottom: 16px;
    }
    
    section#proposal__area {
        padding: 18px 0px;
    }
    
    .proposal__title h2 {
        font-size: 32px;
    }
    
    .gender a {
        font-size: 18px;
        width: 95px;
        height: 42px;
    }
    
    .gender {
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .identity span {
        font-size: 16px;
        height: 48px;
        margin-right: 18px;
        padding: 20px;
    }
    
    .select a {
        font-size: 16px;
        padding: 9px 10px;
    }
    
    .identity {
        margin-bottom: 20px;
    }
    
    .select {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .proposal__btn {
        margin-top: 40px;
        max-width: 240px;
        height: 48px;
        font-size: 16px;
    }
    
    section#popular__area {
        margin: 35px 0 45px;
    }
    
    .popular__title {
        margin-bottom: 50px;
    }
    
    .popular__card {
        padding: 24px 28px;
        margin-bottom: 25px;
    }

    .popular__card__title img {
        width: 26px;
    }
    
    .popular__card__title h4 {
        font-size: 25px;
    }
    
    section#about__area {
        padding: 18px 0 55px;
    }

    .about__title h2 {
        font-size: 32px;
        display: inline-block;
    }
    
    .about__title h2::after {
        bottom: -10px;
        width: 100%;
    }
    
    .about__title {
        margin-bottom: 32px;
    }
    
    .about__content p {
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 32px;
    }
    
    .popular__title h2 {
        font-size: 32px;
    }

    .popular__card p {
        font-size: 18px;
        line-height: 32px;
    }
    
    .about__btns a {
        height: 52px;
        font-size: 18px;
    }
    
    .contact {
        width: 130px;
    }
    
    .about {
        width: 130px;
    }
    
    .about__btns {
        gap: 24px;
        margin-top: 32px;
    }
    
    .footer__list p {
        font-size: 16px;
        line-height: 24px;
    }
    
    li.lists a {
        font-size: 16px;
        line-height: 28px;
    }
    
    section#footer__area {
        padding: 45px 0 30px;
    }
    
    .footer__social span {
        font-size: 16px;
    }

    .footer__social h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .footer__list h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .social__link a {
        width: 44px;
        height: 44px;
        font-size: 22px;
    }
    
    .social__link {
        gap: 10px;
        margin-bottom: 20px;
    }
}


/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header__bar {
    display: block;
    margin-left: 12px;
}

    .header__nav ul {
        display: none;
    }
    
    .header__nav ul li a {
        font-size: 18px;
    }
    
    .hero__wrap {
        padding: 62px 0 68px;
    }

    .hero__form {
        max-width: 600px;
        position: unset;
        margin: 0 auto 0px;
    }
    
    .search__register a:hover::after {
        width: 21px;
        height: 16px;
        bottom: -10px;
    }
    
    .male__female a {
        font-size: 18px;
        width: 135px;
        height: 40px;
    }
    
    .male__female {
        gap: 25px;
        margin-bottom: 10px;
    }

    .search__register {
        margin-bottom: 15px;
    }
    
    .search__register a {
        padding: 10px;
        font-size: 20px;
    }
    
    .hero__form__details > span {
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    select.form-select {
        margin-bottom: 12px;
        font-size: 18px;
        height: 40px;
    }
    
    .hero__form__details > a {
        width: 108px;
        height: 44px;
        font-size: 20px;
        margin-top: 24px;
        border-radius: 6px;
    }
    
    .hero__form__details {
        padding: 0px 20px 24px;
    }

    .container__main {
        max-width: 100% !important;
    }
    
    .member__slider {
        max-width: 650px;
    }
    
    .member__title h2 {
        font-size: 25px;
        margin-left: 13px;
    }
    
    section#member__area {
        padding: 40px 0 33px;
    }

    .member__title {
        margin-bottom: 34px;
    }
    
    .member__card__content {
        padding: 12px 15px 20px;
        align-items: center;
    }

    .member__card__content h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .member__card__content p {
        font-size: 18px;
    }
    
    .member__card__content a {
        font-size: 22px;
    }
    
    .member__card__content a {
    font-size: 18px;
}
    
.member__slider button.owl-prev {
    left: -24px;
}

.member__slider button.owl-next {
    right: -38px;
}

.member__card__content a > span {
    font-size: 16px;
}

.member__btn {
    font-size: 18px !important;
    width: 100%;
    height: 44px;
    margin-top: 20px;
}

    .member__slider button.owl-next, .member__slider button.owl-prev {
        width: 20px !important;
    }
    
    .member__all__btn {
        max-width: 240px !important;
        height: 48px;
        font-size: 16px;
        margin-top: 42px;
    }
    
    .register__title h2 {
        font-size: 25px;
    }
    
    .register__title {
        margin-bottom: 35px;
        text-align: start;
    }
    
    .register__gender a {
        padding: 6px 0 7px;
        font-size: 18px;
    }
    
    .register__gender a:hover::after {
        width: 16px;
        height: 12px;
        bottom: -8px;
    }

    .register__table table tr th {
        font-size: 12px;
    }
    
    .register__table table tr td, .register__table table tr th {
        padding: 5px 4px;
    }
    
    .register__table {
        max-width: 100%;
        margin-bottom: 35px;
    }
    
    .register__table table tr td {
        font-size: 12px;
    }
    
    .register__wrap {
        padding: 18px 14px;
    }
    
    .register__wrap button {
        width: 130px;
        height: 41px;
        font-size: 18px;
    }
    
    .register__wrap h2 {
        font-size: 22px;
    }
    
    section#register__area {
        margin: 25px 0 43px;
    }
    
    .find__title {
        margin-bottom: 45px;
    }

    .find__title h2 {
        font-size: 25px;
    }
    
    .find__card span {
    width: 30px;
    height: 32px;
    font-size: 18px;
    top: -12px;
    left: -4px;
}
    
    .find__card a {
        height: 44px;
        width: 115px;
        font-size: 18px;
    }
    
    .find__card__img {
        width: 55px;
        margin-bottom: 25px;
    }
    
    .find__card h5 {
        font-size: 22px;
        margin-bottom: 11px;
    }
    
    .find__card p {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 25px;
    }
    
    section#find__area {
        padding-bottom: 14px;
        margin-bottom: 16px;
    }
    
    section#proposal__area {
        padding: 18px 0px;
    }
    
    .proposal__title h2 {
        font-size: 25px;
    }
    
    .gender a {
        font-size: 18px;
        width: 100%;
        height: 42px;
    }
    
    .gender {
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .identity span {
        width: 110px;
        font-size: 16px;
        height: 48px;
        margin-right: 18px;
        padding: 20px;
    }
    
    .select a {
        font-size: 16px;
        padding: 9px 10px;
    }
    
    .identity {
        margin-bottom: 20px;
        flex-direction: column;
        gap: 14px;
    }
    
    .select {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .proposal__btn {
        margin-top: 40px;
        max-width: 240px;
        height: 48px;
        font-size: 16px;
    }
    
    section#popular__area {
        margin: 35px 0 28px;
    }
    
    .popular__title {
        margin-bottom: 50px;
    }
    
    .popular__card {
        padding: 20px 20px;
        margin-bottom: 25px;
    }

    .popular__card__title img {
        width: 23px;
    }
    
    .popular__card__title h4 {
        font-size: 23px;
    }
    
    section#about__area {
        padding: 18px 0 55px;
    }

    .about__title h2 {
        font-size: 25px;
        display: inline-block;
    }
    
    .about__title h2::after {
        bottom: -10px;
        width: 100%;
    }
    
    .about__title {
        margin-bottom: 25px;
    }
    
    .about__content p {
        font-size: 16px;
        margin-bottom: 8px;
        line-height: 26px;
    }
    
    .popular__title h2 {
        font-size: 25px;
    }

    .popular__card p {
        font-size: 16px;
        line-height: 26px;
    }
    
    .about__btns a {
        height: 48px;
        font-size: 18px;
    }
    
    .contact {
        width: 100%;
    }
    
    .about {
        width: 100%;
    }
    
    .about__btns {
        gap: 12px;
        margin-top: 32px;
    }
    
    .footer__list p {
        font-size: 16px;
        line-height: 24px;
    }
    
    li.lists a {
        font-size: 16px;
        line-height: 28px;
    }
    
    section#footer__area {
        padding: 45px 0 30px;
    }
    
    .footer__social span {
        font-size: 16px;
    }

    .footer__social h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .footer__list h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .facebook {
        background: #5270B6;
        padding-top: 12px;
    }

    .social__link a {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    
    .social__link {
        gap: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .offcanvas-area.active {
        width: 100% !important;
    }

    .header__wrap {
        padding: 10px 0;
    }

    .header__wrap > a img {
        width: 110px;
    }

    a.btns.register {
        width: 60px;
        height: 36px;
        font-size: 12px;
    }

    a.btns.login {
        width: 48px;
        height: 36px;
        font-size: 12px;
        margin-left: 8px;
    }

    .hero__wrap {
    padding: 40px 0 15px;
}
    
    .hero__wrap h1 {
        font-size: 24px;
        line-height: 34px;
    }

}


/* SM Small Device :576px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 540px;
    }

    .header__wrap {
        padding: 10px 0;
    }

    .header__wrap > a img {
        width: 180px;
    }

    a.btns.register {
        width: 92px;
        height: 41px;
        font-size: 16px;
    }

    a.btns.login {
        width: 80px;
        height: 41px;
        font-size: 16px;
        margin-left: 8px;
    }

    .hero__wrap {
        padding: 60px 0 28px;
    }
    
    .hero__wrap h1 {
        font-size: 28px;
        line-height: 34px;
    }

}